In [1]:
type('A')

str

In [2]:
type(6)

int

In [3]:
type(2.8)

float

In [4]:
type(3+4j)

complex

In [5]:
type([1, 2, 3, 4])

list

In [9]:
x = 'banana'
x = 'n' + x[1:]
x

'nanana'

In [10]:
prime = [2, 3, 7, 11] 
prime.append(5)
prime

[2, 3, 7, 11, 5]

In [11]:
prime.sort()
prime

[2, 3, 5, 7, 11]

In [12]:
del prime[4]
prime

[2, 3, 5, 7]

In [13]:
prime[0] =1
prime

[1, 3, 5, 7]

In [14]:
list('be happy')

['b', 'e', ' ', 'h', 'a', 'p', 'p', 'y']

In [16]:
sum(prime)

16

In [20]:
import operator
from functools import reduce
chulsu = [90, 85, 70]
younghee = [88, 79, 92]
yong = [100, 100, 100]
minsu = [90, 60, 70]
students = [chulsu, younghee, yong, minsu]
for scores in students:
    total = reduce(operator.add, scores)
    average = total/len(scores)
    print(scores, total, average)

[90, 85, 70] 245 81.66666666666667
[88, 79, 92] 259 86.33333333333333
[100, 100, 100] 300 100.0
[90, 60, 70] 220 73.33333333333333

In [21]:
def sumOfDigits(num):
    sum = 0
    for c in list(str(num)):
        sum += int(c)

    return sum
print(sumOfDigits(643))

13

In [24]:
def sumOfDigits(num):
    digits = map(int, list(str(num)))
    return sum(digits)
print(sumOfDigits(643))

<class 'map'>
13

In [27]:
def m(x,y,*rest):
    print(x,y,rest)
m(1,2,3,4,5,6,7,8,9,10)

1 2 (3, 4, 5, 6, 7, 8, 9, 10)

In [28]:
empty = ()
one = 5,
one

(5,)

In [29]:
p = (1,2,3)
q = list(p)
q

[1, 2, 3]

In [30]:
p = tuple(q)
p

(1, 2, 3)

In [37]:
family = {'boy': 'choi', 'girl': 'kim', 'baby': 'choi'}
family['me'] = 'kwak'
family

{'boy': 'choi', 'girl': 'kim', 'baby': 'choi', 'me': 'kwak'}

In [33]:
family.keys()

dict_keys(['boy', 'girl', 'baby'])

In [34]:
family.values()

dict_values(['choi', 'kim', 'choi'])

In [35]:
'boy' in family

True

In [40]:
def prg2com(inlist, coms):
    outlist = []
    sumout = []
    for x in range(coms):
        outlist.append([])
        sumout.append(0)

    inlist.sort(reverse=True) #내림차순

    for bread in inlist:
        lowbasket = sumout.index(min(sumout))
        outlist[lowbasket].append(bread)
        sumout[lowbasket] += bread

    return outlist

print(prg2com([3,15,6,22,13,2], 3))

[22, 15, 13, 6, 3, 2]
[[22], [15, 3, 2], [13, 6]]